.main-container {
  width: 80%;
  margin: 0 auto;
  min-height: 300px;
  padding: 30px;

  .title {
    text-align: center;
  }
}


.W100 {
  width: 100%;
}

.W50 {
  width: 48%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.separate-container {
  margin-top: 20px;
}

.p-text {
  margin-bottom: 20px;
}

.chk-container {
  input {
    margin-right: 10px;
  }

  label {
    font-weight: 400;
  }
}

.MT30 {
  margin-top: 30px;
}

.MT20 {
  margin-top: 20px;
}

.additional-textarea {
  textarea {
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    resize: none;
    border: 1px solid #a1a1a1;
    outline: none;
    padding-left: 10px;
  }
}

.actions-container {
  justify-content: center;
  display: flex;

  button {
    margin-right: 20px;
  }
}

.success-message {
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.grant-list {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}

th,
td {
  text-align: center !important;
}