@import "../../styles/common.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 60%;
  margin: 0 auto;
}

label {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
}

input {
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 1;
  border: 1px solid #a1a1a1;
  border-radius: 2px;
  background-color: hsla(0, 0%, 45.9%, 0.8);
  padding: 12px 10px;
  border: 1px solid transparent;
  font-family: $fontFamily;
  outline: none;
}

.validation_error {
  font-size: 14px !important;
  color: rgba(255, 0, 0, 0.9);
  display: block;
  margin-top: 3px;
}

button {
  margin-top: 20px;
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: $backgroundColor;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: $fontFamily;
}

.auth_error {
  margin-top: 20px;
}